//Menu button
.menu-btn {
    //Always be on top, and in the upper right corner
    position: absolute;
    z-index: 3; //front
    right: 35px; //small pad
    top: 35px; //small pad
    cursor: pointer;
    @include easeOut; 

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    //Rotate into X with menu lines.
    &.close {
        transform: rotate(180deg);

        .btn-line{
            //Selects the nth child, aka the top line
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
            }


        }
    }

}

//Menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    // "this.branding" == &-branding
    //This affects both branding and nav, while each has its own section below
    &-branding, &-nav {
        display: flex;
        flex-flow: column wrap;

        //Align center
        align-items: center;
        justify-content: center;

        float: left;
        width: 50%;
        height: 100vh;

        overflow: hidden; //No scrollbars!
    }

    &-nav {
        margin: 0;
        padding: 0; 
        background: rgba(darken($primary-color, 5), 0.9);
        list-style: none;
        transform: translate3d(0, -100%, 0); //takes it off the page
        @include easeOut;

        &.show{
            //Slide down from the top
            transform: translate3d(0, 0, 0);
        }
    }

    &-branding {
        background: rgba($primary-color, .9);
        transform: translate3d(0, 100%, 0); //takes it off the page
        @include easeOut;

        &.show{
            //Slide down from the top
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px; 
            height: 250px;
            background: url(../img/portrait_250.png);
            border-radius: 50%; //Circle
            border: solid 3px $secondary-color;
        }

    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        
        &.show{
            //Slide down from the right
            transform: translate3d(0, 0, 0);
        }

        &.current > a{
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover{ 
            color: $secondary-color;
        }
    }
}



//Delay each nav item slide by 0.1sec
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}

